Repository siderolabs/omni, pull requests merged in 2024-12, with the labels that each got.

#748 test: add static infra provider (bare-metal provider) integration tests
  cmd/integration-test/pkg/tests/cluster.go
  cmd/integration-test/pkg/tests/extensions.go
  cmd/integration-test/pkg/tests/infra.go
  cmd/integration-test/pkg/tests/tests.go
Labels: status/ok-to-test, status/ok-to-merge

#752 feat: update Talos machinery to v1.9.0-beta.0
  .kres.yaml
  Dockerfile
  client/go.mod
  client/go.sum
  frontend/src/schemas/config.schema.json
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config_test.go
Labels: status/ok-to-test, status/ok-to-merge

#754 fix: ignore `Unimplemented` errors in `MetaDelete` calls
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config_status.go
Labels: status/ok-to-test, status/ok-to-merge

#758 feat: allow specifying extra kernel args on infra machines
  client/api/omni/specs/infra.pb.go
  client/api/omni/specs/infra.proto
  client/api/omni/specs/infra_vtproto.pb.go
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  cmd/integration-test/pkg/tests/infra.go
  cmd/integration-test/pkg/tests/tests.go
  frontend/src/api/omni/specs/infra.pb.ts
  frontend/src/api/omni/specs/omni.pb.ts
  internal/backend/runtime/omni/controllers/omni/infra_machine.go
  internal/backend/runtime/omni/controllers/omni/infra_machine_test.go
Labels: status/ok-to-test, status/ok-to-merge

#759 chore: bump COSI runtime to `v0.7.5`
  client/go.mod
  client/go.sum
  go.mod
  go.sum
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-scaling

#760 feat: add `rejected` state to infra machine acceptance status
  client/api/omni/specs/infra.pb.go
  client/api/omni/specs/infra.proto
  client/api/omni/specs/infra_vtproto.pb.go
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/pkg/omni/resources/infra/machine.go
  client/pkg/omni/resources/omni/infra_machine_config.go
  cmd/integration-test/pkg/tests/infra.go
  frontend/src/api/omni/specs/infra.pb.ts
  frontend/src/api/omni/specs/omni.pb.ts
  internal/backend/runtime/omni/controllers/omni/infra_machine.go
  internal/backend/runtime/omni/controllers/omni/infra_machine_test.go
  internal/backend/runtime/omni/controllers/omni/machine.go
  internal/backend/runtime/omni/state_validation.go
  internal/backend/runtime/omni/state_validation_test.go
Labels: status/ok-to-test, status/ok-to-merge

#764 fix: regenerate wipe id of infra machines only once per de-allocation
  internal/backend/runtime/omni/controllers/omni/infra_machine.go
Labels: status/ok-to-test, status/ok-to-merge

#776 chore: handle renamed drm extensions
  internal/backend/extensions/extensions.go
  internal/backend/extensions/extensions_test.go
Labels: status/ok-to-test, status/ok-to-merge

#778 release(v0.44.1): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#777 feat: update Talos machinery to final 1.9.0-beta.1
  client/go.mod
  client/go.sum
  go.mod
  go.sum
Labels: status/ok-to-test, status/ok-to-merge

#781 test: assert machine labels in static infra provider tests
  cmd/integration-test/pkg/tests/infra.go
Labels: status/ok-to-test, status/ok-to-merge

#780 test: assert power on/off status in static infra provider tests
  cmd/integration-test/pkg/tests/infra.go
Labels: status/ok-to-test, status/ok-to-merge

#783 release(v0.45.0-beta.0): prepare release
  .kres.yaml
  CHANGELOG.md
  LICENSE
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#784 fix: do not disable create service account button for SAML mode
  frontend/src/views/omni/Users/ServiceAccounts.vue
Labels: status/ok-to-test, status/ok-to-merge

#788 release(v0.45.0): prepare release
  .kres.yaml
  CHANGELOG.md
  LICENSE
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#790 feat: implement the machine categories UI
  client/pkg/omni/resources/omni/labels.go
  frontend/src/api/resources.ts
  frontend/src/components/SideBar/TSideBarList.vue
  frontend/src/components/common/Icon/TIcon.vue
  frontend/src/components/common/MenuItem/TMenuItem.vue
  frontend/src/components/icons/IconServerNetwork.vue
  frontend/src/methods/machine.ts
  frontend/src/router/index.ts
  frontend/src/views/cluster/ClusterMachines/ClusterMachine.vue
  frontend/src/views/omni/ItemLabels/ItemLabels.vue
  frontend/src/views/omni/Machines/MachineTabs.vue
  frontend/src/views/omni/Machines/Machines.vue
  frontend/src/views/omni/Machines/MachinesPending.vue
  frontend/src/views/omni/Modals/MachineAccept.vue
  frontend/src/views/omni/Modals/MachineReject.vue
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status.go
  internal/backend/runtime/omni/controllers/omni/infra_machine.go
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#782 feat: Add support for Zitadel IdP
  internal/backend/saml/session.go
Labels: status/ok-to-merge

#792 fix: correctly handle input finalizers in `InfraMachineController`
  internal/backend/runtime/omni/controllers/omni/infra_machine.go
  internal/backend/runtime/omni/controllers/omni/infra_machine_test.go
Labels: status/ok-to-test, status/ok-to-merge

#794 fix: allow accepting rejected infra machines
  internal/backend/runtime/omni/state_validation.go
  internal/backend/runtime/omni/state_validation_test.go
Labels: status/ok-to-test, status/ok-to-merge

#793 fix: run destroy validations on teardown
  internal/backend/runtime/omni/validated/state.go
  internal/backend/runtime/omni/validated/state_test.go
Labels: status/ok-to-test, status/ok-to-merge

#799 fix: do not preserve extensions on Talos agent mode
  internal/backend/runtime/omni/controllers/omni/internal/talos/schematic.go
  internal/backend/runtime/omni/controllers/omni/machine_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#800 feat: properly handle powered off machines in the UI and machine classes
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/go.mod
  client/go.sum
  client/pkg/omni/resources/omni/labels.go
  client/pkg/template/operations/internal/statustree/helpers.go
  frontend/src/api/omni/specs/omni.pb.ts
  frontend/src/api/resources.ts
  frontend/src/views/cluster/ClusterMachines/ClusterMachinePhase.vue
  frontend/src/views/omni/Clusters/Management/ClusterCreate.vue
  frontend/src/views/omni/Clusters/Management/ClusterScale.vue
  frontend/src/views/omni/ItemLabels/ItemLabels.vue
  frontend/src/views/omni/Machines/MachineItem.vue
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node_test.go
  internal/backend/runtime/omni/controllers/omni/machine_status.go
Labels: status/ok-to-test, status/ok-to-merge

#801 fix: etcd lease handlining
  internal/backend/runtime/omni/export_test.go
  internal/backend/runtime/omni/state_etcd.go
  internal/backend/runtime/omni/state_etcd_election.go
  internal/backend/runtime/omni/state_etcd_election_test.go
Labels: status/ok-to-test, status/ok-to-merge

#805 fix: display nodes sidebar
  frontend/src/router/index.ts
Labels: status/ok-to-test, status/ok-to-merge

#804 fix: never remove etcd members which ID is discovered at least once
  internal/backend/runtime/omni/controllers/omni/machine_set_etcd_audit.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-scaling, integration/e2e-upgrades

#806 release(v0.45.1): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#807 fix: bring in new versions of COSI runtime and state-etcd
  client/go.mod
  client/go.sum
  client/pkg/omnictl/delete.go
  client/pkg/omnictl/output/table.go
  client/pkg/template/operations/status.go
  client/pkg/template/operations/sync.go
  go.mod
  go.sum
  internal/backend/dns/service.go
  internal/backend/grpc/router/router.go
  internal/backend/runtime/cosi/cosi.go
  internal/backend/runtime/omni/controllers/omni/internal/task/clustermachine/identity.go
  internal/backend/runtime/omni/controllers/omni/internal/task/machine/machine.go
  internal/backend/runtime/omni/controllers/omni/internal/task/snapshot/snapshot.go
  internal/backend/runtime/omni/controllers/omni/machine_request_set_status_test.go
  internal/pkg/siderolink/loghandler.go
Labels: status/ok-to-test, status/ok-to-merge
