Repository siderolabs/omni, pull requests merged in 2024-08, with the labels that each got.

#503 feat: implement audit log
  cmd/omni/main.go
  go.mod
  go.sum
  hack/compose/docker-compose.yml
  hack/generate-certs/main.go
  internal/backend/grpc/auth.go
  internal/backend/runtime/omni/audit/audit.go
  internal/backend/runtime/omni/audit/gate.go
  internal/backend/runtime/omni/audit/log.go
  internal/backend/runtime/omni/audit/log_file_test.go
  internal/backend/runtime/omni/audit/log_test.go
  internal/backend/runtime/omni/audit/state.go
  internal/backend/runtime/omni/audit/testdata/log/2012-01-01.jsonlog
  internal/backend/runtime/omni/state.go
  internal/backend/server.go
  internal/pkg/auth/interceptor/jwt.go
  internal/pkg/auth/interceptor/saml.go
  internal/pkg/auth/interceptor/signature.go
  internal/pkg/config/config.go
  internal/pkg/grpcutil/audit.go
  internal/pkg/grpcutil/logger.go
  internal/pkg/grpcutil/stream_interceptors.go
Labels: status/ok-to-test, status/ok-to-merge

#517 chore: add request label to the links created by the cloud provider
  client/pkg/omni/resources/omni/labels.go
  frontend/src/views/omni/ItemLabels/ItemLabels.vue
  frontend/src/views/omni/Machines/MachineItem.vue
  frontend/src/views/omni/Modals/MachineRemove.vue
  internal/backend/runtime/omni/controllers/omni/machine.go
  internal/backend/runtime/omni/controllers/omni/machine_request_link.go
  internal/backend/runtime/omni/controllers/omni/machine_request_link_test.go
  internal/backend/runtime/omni/controllers/omni/machine_status.go
  internal/backend/runtime/omni/omni.go
Labels: status/ok-to-test, status/ok-to-merge

#510 chore: implement labels extractor controller for more efficient code
  client/api/omni/specs/system.proto
  client/pkg/omni/resources/omni/labels.go
  client/pkg/omni/resources/omni/machine_status.go
  client/pkg/omni/resources/system/resource_labels.go
  client/pkg/omni/resources/system/resource_labels_test.go
  client/pkg/omni/resources/system/system.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/resources.ts
  frontend/src/views/omni/ItemLabels/ItemLabels.vue
  internal/backend/grpc/support.go
  internal/backend/runtime/omni/controllers/omni/export_test.go
  internal/backend/runtime/omni/controllers/omni/labels_extractor.go
  internal/backend/runtime/omni/controllers/omni/labels_extractor_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node_test.go
  internal/backend/runtime/omni/omni.go
  internal/backend/runtime/omni/state_access.go
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#523 fix: fix nil pointer dereference in workload proxy reconciler
  internal/backend/workloadproxy/reconciler.go
Labels: status/ok-to-test, status/ok-to-merge

#524 release(v0.40.1): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#525 fix: properly handle ExposedService resource finalizers
  internal/backend/runtime/omni/controllers/omni/kubernetes_status.go
Labels: status/ok-to-test, status/ok-to-merge

#528 release(v0.40.2): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#530 fix: add gRPC read buffer pool for etcd client
  internal/backend/runtime/omni/state_etcd.go
Labels: status/ok-to-test, status/ok-to-merge

#531 fix: skip reconciling redacted machine config on no input changes
  internal/backend/runtime/omni/controllers/omni/redacted_cluster_machine_config.go
Labels: status/ok-to-test, status/ok-to-merge

#532 fix: increase LRU cache size for Talos and Kubernetes clients
  internal/backend/runtime/kubernetes/kubernetes.go
  internal/backend/runtime/talos/clients.go
Labels: status/ok-to-test, status/ok-to-merge

#539 fix: properly remove `MachineSetNode` finalizer in the controller
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#540 fix: properly remove `MachineSetNode` finalizer in the controller
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#534 chore: implement audit log for several types
  client/go.mod
  cmd/omni/main.go
  internal/backend/grpc/auth.go
  internal/backend/grpc/router/router.go
  internal/backend/k8sproxy/k8sproxy.go
  internal/backend/k8sproxy/middleware.go
  internal/backend/runtime/omni/audit/audit.go
  internal/backend/runtime/omni/audit/audit_test.go
  internal/backend/runtime/omni/audit/data.go
  internal/backend/runtime/omni/audit/gate.go
  internal/backend/runtime/omni/audit/hooks/hooks.go
  internal/backend/runtime/omni/audit/log.go
  internal/backend/runtime/omni/audit/log_file_test.go
  internal/backend/runtime/omni/audit/log_test.go
  internal/backend/runtime/omni/audit/state.go
  internal/backend/runtime/omni/audit/testdata/concurrent/2012-01-01.jsonlog
  internal/backend/runtime/omni/audit/testdata/currentday/2012-01-01.jsonlog
  internal/backend/runtime/omni/audit/testdata/log/2012-01-01.jsonlog
  internal/backend/runtime/omni/audit/testdata/nextday/2012-01-01.jsonlog
  internal/backend/runtime/omni/audit/testdata/nextday/2012-01-02.jsonlog
  internal/backend/runtime/omni/state.go
  internal/backend/server.go
  internal/pkg/auth/interceptor/auth_config.go
  internal/pkg/auth/interceptor/jwt.go
  internal/pkg/auth/interceptor/saml.go
  internal/pkg/auth/interceptor/signature.go
  internal/pkg/grpcutil/audit.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-short

#542 release(v0.40.3): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#547 test: fix several flaky tests
  internal/backend/grpc/grpc_test.go
  internal/backend/grpc/schematics_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_loadbalancer_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config_status_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status_test.go
  internal/backend/runtime/omni/controllers/omni/loadbalancer_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_etcd_audit_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_status_test.go
  internal/backend/runtime/omni/controllers/omni/omni_test.go
  internal/backend/runtime/omni/controllers/omni/secrets_test.go
Labels: status/ok-to-test, status/ok-to-merge

#553 fix: properly cleanup tearing down exposed services
  internal/backend/runtime/omni/controllers/omni/kubernetes_status.go
Labels: status/ok-to-test, status/ok-to-merge

#552 feat: bump kube-service-exposer to v0.2.0
  internal/backend/runtime/omni/controllers/omni/data/kube-service-exposer-config-patch.tmpl.yaml
Labels: status/ok-to-test, status/ok-to-merge

#561 release(v0.41.0-beta.0): prepare release
  CHANGELOG.md
  LICENSE
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#562 docs: update doc urls
  README.md
  client/README.md
  frontend/src/components/THeader/THeader.vue
  frontend/src/views/cluster/Backups/BackupsList.vue
Labels: status/ok-to-test, status/ok-to-merge

#533 fix: workload service reconciler
  .github/workflows/ci.yaml
  .github/workflows/e2e-workload-proxy-cron.yaml
  .github/workflows/slack-notify.yaml
  .kres.yaml
  cmd/integration-test/pkg/clientconfig/clientconfig.go
  cmd/integration-test/pkg/tests/testdata/sidero-labs-icon.svg
  cmd/integration-test/pkg/tests/tests.go
  cmd/integration-test/pkg/tests/workload_proxy.go
  hack/certs/localhost-key.pem
  hack/certs/localhost.pem
  hack/generate-certs.example.yml
  hack/test/integration.sh
  internal/backend/workloadproxy/reconciler.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-workload-proxy

#567 release(v0.41.0): prepare release
  CHANGELOG.md
  LICENSE
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#570 fix: display machines in tearing down state
  client/api/omni/specs/ephemeral.pb.go
  client/api/omni/specs/ephemeral.proto
  client/api/omni/specs/ephemeral_vtproto.pb.go
  frontend/src/api/omni/specs/ephemeral.pb.ts
  frontend/src/api/resources.ts
  frontend/src/views/omni/Machines/MachineItem.vue
  internal/backend/runtime/omni/controllers/omni/machine_status_link.go
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#568 chore: add periodic cleanup of old log files
  Dockerfile
  Makefile
  client/go.mod
  cmd/integration-test/pkg/tests/stats.go
  cmd/integration-test/pkg/tests/utils.go
  go.mod
  go.sum
  go.work
  internal/backend/grpc/oidc.go
  internal/backend/runtime/omni/audit/audit.go
  internal/backend/runtime/omni/audit/export_test.go
  internal/backend/runtime/omni/audit/log_file.go
  internal/backend/runtime/omni/audit/walk.go
  internal/backend/runtime/omni/audit/walk_test.go
  internal/backend/runtime/omni/controllers/omni/discovery_service_config_patch_test.go
  internal/backend/runtime/omni/controllers/omni/versions.go
  internal/backend/runtime/omni/state.go
  internal/backend/runtime/omni/state_validation.go
  internal/backend/runtime/utils.go
  internal/backend/server.go
  internal/e2e-tests/Dockerfile
  internal/e2e-tests/go.mod
  internal/e2e-tests/go.sum
Labels: status/ok-to-test, status/ok-to-merge

#571 fix: use a separate phase for the extensions installation
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/pkg/template/operations/internal/statustree/helpers.go
  cmd/integration-test/pkg/tests/talos.go
  frontend/src/api/omni/specs/omni.pb.ts
  frontend/src/views/cluster/Overview/components/OverviewContent.vue
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status.go
Labels: status/ok-to-test, status/ok-to-merge

#573 fix: pass the logger to machine logs circular buffer
  internal/pkg/siderolink/machines.go
Labels: status/ok-to-test, status/ok-to-merge

#575 chore: print error on closing secondary storage backing store
  internal/backend/runtime/omni/state.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-scaling, integration/e2e-upgrades

#576 chore: do a full generate with latest deps
  client/api/omni/management/management.pb.gw.go
  client/api/omni/management/management_grpc.pb.go
  client/api/omni/oidc/oidc.pb.gw.go
  client/api/omni/oidc/oidc_grpc.pb.go
  client/api/omni/resources/resources.pb.gw.go
  client/api/omni/resources/resources_grpc.pb.go
  client/api/talos/machine/machine.pb.gw.go
  internal/backend/grpc/management.go
  internal/backend/grpc/resource.go
  internal/backend/grpc/support.go
Labels: status/ok-to-test, status/ok-to-merge

#554 chore: use range-over-func iterators for resource iteration
  client/go.mod
  client/go.sum
  client/pkg/client/example_test.go
  client/pkg/omnictl/common.go
  client/pkg/omnictl/download.go
  client/pkg/template/operations/export.go
  client/pkg/template/operations/export_test.go
  cmd/integration-test/pkg/tests/cli.go
  cmd/integration-test/pkg/tests/common.go
  cmd/integration-test/pkg/tests/extensions.go
  cmd/integration-test/pkg/tests/image.go
  cmd/integration-test/pkg/tests/talos.go
  cmd/integration-test/pkg/tests/utils.go
  go.mod
  go.sum
  internal/backend/grpc/management.go
  internal/backend/grpc/serviceaccount.go
  internal/backend/oidc/internal/storage/keys/storage.go
  internal/backend/resourcelogger/resourcelogger.go
  internal/backend/runtime/omni/controllers/omni/cluster_destroy_status.go
  internal/backend/runtime/omni/controllers/omni/cluster_endpoint.go
  internal/backend/runtime/omni/controllers/omni/cluster_kubernetes_nodes.go
  internal/backend/runtime/omni/controllers/omni/cluster_loadbalancer.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_identity.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status_metrics.go
  internal/backend/runtime/omni/controllers/omni/cluster_status.go
  internal/backend/runtime/omni/controllers/omni/cluster_status_metrics.go
  internal/backend/runtime/omni/controllers/omni/cluster_workload_proxy.go
  internal/backend/runtime/omni/controllers/omni/cluster_workload_proxy_status.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup.go
  internal/backend/runtime/omni/controllers/omni/image_pull_status.go
  internal/backend/runtime/omni/controllers/omni/internal/configpatch/configpatch.go
  internal/backend/runtime/omni/controllers/omni/internal/kubernetes/machinemap.go
  internal/backend/runtime/omni/controllers/omni/internal/kubernetes/versions.go
  internal/backend/runtime/omni/controllers/omni/internal/talos/versions.go
  internal/backend/runtime/omni/controllers/omni/internal/task/machine/helpers.go
  internal/backend/runtime/omni/controllers/omni/key_pruner.go
  internal/backend/runtime/omni/controllers/omni/kubernetes_status.go
  internal/backend/runtime/omni/controllers/omni/kubernetes_upgrade_status.go
  internal/backend/runtime/omni/controllers/omni/loadbalancer.go
  internal/backend/runtime/omni/controllers/omni/machine_set_destroy_status.go
  internal/backend/runtime/omni/controllers/omni/machine_set_etcd_audit.go
  internal/backend/runtime/omni/controllers/omni/machine_status_link.go
  internal/backend/runtime/omni/controllers/omni/machine_status_metrics.go
  internal/backend/runtime/omni/controllers/omni/omni_test.go
  internal/backend/runtime/omni/controllers/omni/saml_assertion.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status.go
  internal/backend/runtime/omni/migration/compat.go
  internal/backend/runtime/omni/migration/migration_test.go
  internal/backend/runtime/omni/migration/migrations.go
  internal/backend/runtime/omni/pkg/check/connection.go
  internal/backend/runtime/omni/pkg/check/etcd.go
  internal/backend/saml/session.go
  internal/backend/server.go
  internal/pkg/siderolink/manager.go
  internal/pkg/siderolink/siderolink_test.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#579 chore: implement audit log reader
  client/api/omni/management/management.pb.go
  client/api/omni/management/management.pb.gw.go
  client/api/omni/management/management.proto
  client/api/omni/management/management_grpc.pb.go
  client/api/omni/management/management_vtproto.pb.go
  client/pkg/client/management/management.go
  client/pkg/omnictl/audit-log.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/omni/management/management.pb.ts
  internal/backend/grpc/grpc.go
  internal/backend/grpc/management.go
  internal/backend/runtime/omni/audit/audit.go
  internal/backend/runtime/omni/audit/export_test.go
  internal/backend/runtime/omni/audit/log_file.go
  internal/backend/runtime/omni/audit/log_file_test.go
  internal/backend/runtime/omni/audit/testdata/multifile/2012-01-01.jsonlog
  internal/backend/runtime/omni/audit/testdata/multifile/2012-01-02.jsonlog
  internal/backend/runtime/omni/audit/testdata/multifile/2012-01-03.jsonlog
  internal/backend/runtime/omni/audit/walk.go
  internal/backend/runtime/omni/state.go
  internal/backend/server.go
Labels: status/ok-to-test, status/ok-to-merge

#577 chore: rekres to get BUSL license change date updated on releases
  .kres.yaml
  LICENSE
  hack/release.sh
Labels: status/ok-to-test, status/ok-to-merge

#581 chore: enable 'github.com/planetscale/vtprotobuf' encoding
  client/pkg/client/encoding.go
  internal/backend/grpc/router/encoding.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#585 fix: delete upgrade meta key from nodes after upgrades
  client/pkg/meta/meta.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config_status.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config_status_test.go
  internal/backend/runtime/omni/controllers/omni/omni_test.go
Labels: status/ok-to-test, status/ok-to-merge

#587 feat: reload TLS certs without restart
  go.mod
  go.sum
  internal/backend/proxy_server.go
  internal/backend/server.go
Labels: status/ok-to-test, status/ok-to-merge

#582 feat: implement base infra provider library
  client/api/omni/specs/cloud/cloud.pb.go
  client/api/omni/specs/cloud/cloud.proto
  client/api/omni/specs/cloud/cloud_vtproto.pb.go
  client/go.mod
  client/go.sum
  client/pkg/infra/controllers/controllers.go
  client/pkg/infra/controllers/provision.go
  client/pkg/infra/infra.go
  client/pkg/infra/infra_test.go
  client/pkg/infra/internal/resources/resources.go
  client/pkg/infra/options.go
  client/pkg/infra/provision/provision.go
  client/pkg/infra/resources_test.go
  client/pkg/infra/state.go
  client/pkg/omni/resources/omni/labels.go
  frontend/src/api/omni/specs/cloud/cloud.pb.ts
Labels: status/ok-to-test, status/ok-to-merge

#536 feat: implement `MachineRequestSets` and support links cleanup flow
  .kres.yaml
  client/api/omni/specs/cloud/cloud.pb.go
  client/api/omni/specs/cloud/cloud.proto
  client/api/omni/specs/cloud/cloud_vtproto.pb.go
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/pkg/omni/resources/common/common.go
  client/pkg/omni/resources/omni/labels.go
  client/pkg/omni/resources/omni/machine_request_set.go
  client/pkg/omni/resources/omni/machine_request_set_status.go
  client/pkg/omni/resources/omni/omni.go
  client/pkg/omni/resources/resources.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/omni/specs/cloud/cloud.pb.ts
  frontend/src/api/omni/specs/omni.pb.ts
  frontend/src/api/resources.ts
  frontend/src/methods/labels.ts
  frontend/src/views/omni/ItemLabels/ItemLabels.vue
  internal/backend/runtime/omni/controllers/helpers/handler.go
  internal/backend/runtime/omni/controllers/omni/machine.go
  internal/backend/runtime/omni/controllers/omni/machine_request_cleanup.go
  internal/backend/runtime/omni/controllers/omni/machine_request_link.go
  internal/backend/runtime/omni/controllers/omni/machine_request_set_status.go
  internal/backend/runtime/omni/controllers/omni/machine_request_set_status_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_status.go
  internal/backend/runtime/omni/controllers/omni/machine_status.go
  internal/backend/runtime/omni/controllers/omni/schematic_configuration.go
  internal/backend/runtime/omni/controllers/omni/schematic_configuration_test.go
  internal/backend/runtime/omni/export_test.go
  internal/backend/runtime/omni/omni.go
  internal/backend/runtime/omni/state_access.go
  internal/backend/runtime/omni/state_validation.go
  internal/backend/runtime/omni/state_validation_test.go
Labels: status/ok-to-test, status/ok-to-merge

#590 fix: always remove finalizers from the `ClusterMachineStatus`
  internal/backend/runtime/omni/controllers/omni/cluster_workload_proxy_status.go
  internal/backend/runtime/omni/controllers/omni/cluster_workload_proxy_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#589 chore: rewrite renamed extension names on Talos version updates
  internal/backend/extensions/extensions.go
  internal/backend/extensions/extensions_test.go
  internal/backend/runtime/omni/controllers/omni/internal/talos/schematic.go
  internal/backend/runtime/omni/controllers/omni/schematic_configuration.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-upgrades

#592 fix: add siderolink connection params to the infra provider interface
  client/pkg/infra/controllers/provision.go
  client/pkg/infra/infra_test.go
  client/pkg/infra/provision/provision.go
Labels: status/ok-to-test, status/ok-to-merge

#591 chore: allow users with admin role to download audit log from UI
  client/api/omni/specs/virtual.pb.go
  client/api/omni/specs/virtual.proto
  client/api/omni/specs/virtual_vtproto.pb.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/omni/specs/virtual.pb.ts
  frontend/src/methods/auth.ts
  frontend/src/methods/index.ts
  frontend/src/views/omni/Overview/Overview.vue
  hack/release.toml
  hack/test/integration.sh
  internal/backend/runtime/omni/virtual/state.go
  internal/e2e-tests/main_test.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-short

#559 fix: spelling for hover text
  frontend/src/views/omni/Machines/MachineItem.vue
Labels: status/ok-to-test, status/ok-to-merge

#596 chore: allow multiple IP's for `siderolink-wireguard-advertised-addr` flag
  hack/release.toml
  internal/pkg/siderolink/manager.go
  internal/pkg/siderolink/siderolink_test.go
Labels: status/ok-to-test, status/ok-to-merge

#597 chore: allow to specify `start` and `end` time for `audit-log`
  client/api/omni/management/management.pb.go
  client/api/omni/management/management.pb.gw.go
  client/api/omni/management/management.proto
  client/api/omni/management/management_grpc.pb.go
  client/api/omni/management/management_vtproto.pb.go
  client/pkg/client/management/management.go
  client/pkg/omnictl/audit-log.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/omni/management/management.pb.ts
  internal/backend/grpc/management.go
  internal/backend/runtime/omni/audit/audit.go
  internal/backend/runtime/omni/audit/export_test.go
  internal/backend/runtime/omni/audit/log_file.go
  internal/backend/runtime/omni/audit/log_file_test.go
  internal/backend/runtime/omni/audit/walk.go
  internal/backend/runtime/omni/audit/walk_test.go
  internal/backend/runtime/omni/state.go
  internal/backend/server.go
Labels: status/ok-to-test, status/ok-to-merge

#599 chore: rename `CloudProvider` to `InfraProvider`
  .kres.yaml
  Dockerfile
  Makefile
  client/api/omni/specs/infra/infra.pb.go
  client/api/omni/specs/infra/infra.proto
  client/api/omni/specs/infra/infra_vtproto.pb.go
  client/pkg/access/serviceaccount.go
  client/pkg/access/serviceaccount_test.go
  client/pkg/client/omni/omni.go
  client/pkg/infra/controllers/provision.go
  client/pkg/infra/infra_test.go
  client/pkg/infra/internal/resources/resources.go
  client/pkg/infra/provision/provision.go
  client/pkg/infra/state.go
  client/pkg/omni/resources/auth/labels.go
  client/pkg/omni/resources/infra/cloud.go
  client/pkg/omni/resources/infra/machine_request.go
  client/pkg/omni/resources/infra/machine_request_status.go
  client/pkg/omni/resources/omni/labels.go
  client/pkg/omni/resources/resources.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/omni/specs/infra/infra.pb.ts
  frontend/src/api/resources.ts
  hack/release.sh
  internal/backend/grpc/serviceaccount.go
  internal/backend/runtime/omni/controllers/omni/machine_request_cleanup.go
  internal/backend/runtime/omni/controllers/omni/machine_request_link.go
  internal/backend/runtime/omni/controllers/omni/machine_request_link_test.go
  internal/backend/runtime/omni/controllers/omni/machine_request_set_status.go
  internal/backend/runtime/omni/controllers/omni/machine_request_set_status_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/infraprovider/infraprovider.go
  internal/backend/runtime/omni/infraprovider/state.go
  internal/backend/runtime/omni/infraprovider/state_test.go
  internal/backend/runtime/omni/infraprovider/validation.go
  internal/backend/runtime/omni/state.go
  internal/backend/runtime/omni/state_access.go
  internal/pkg/auth/check.go
  internal/pkg/auth/role/role.go
Labels: status/ok-to-test, status/ok-to-merge
