Repository siderolabs/omni, pull requests merged in 2024-04, with the labels that each got.

#106 fix: prevent link and clustermachine deletion from getting stuck
  internal/backend/runtime/omni/controllers/omni/cluster_machine_status.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/machineset.go
  internal/backend/runtime/omni/controllers/omni/machine_cleanup.go
  internal/backend/runtime/omni/controllers/omni/machine_cleanup_test.go
Labels: status/ok-to-test, status/ok-to-merge

#108 release(v0.31.2): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#109 release(v0.32.1): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#110 chore: bump net library to v0.23.0
  client/go.mod
  client/go.sum
  go.mod
  go.sum
Labels: status/ok-to-test, status/ok-to-merge

#116 fix: properly render download installation media page in Safari
  frontend/src/components/common/TInput/TInput.vue
  frontend/src/views/cluster/Nodes/NodeOverview.vue
  frontend/src/views/omni/Modals/DownloadInstallationMedia.vue
Labels: status/ok-to-test, status/ok-to-merge

#119 chore: bump Go to 1.22.2 and Talos machinery to `v1.7.0-beta.0`
  client/go.mod
  client/go.sum
  go.mod
  go.sum
Labels: status/ok-to-test, status/ok-to-merge

#121 feat: forbid `*.acceptedCAs` fields in config patches
  client/pkg/omni/resources/omni/config_patch.go
  client/pkg/omni/resources/omni/config_patch_test.go
Labels: status/ok-to-test, status/ok-to-merge

#123 fix: ignore `modules.dep` virtual extension on schematic id calculation
  internal/backend/runtime/omni/controllers/omni/internal/talos/schematic.go
Labels: status/ok-to-test, status/ok-to-merge

#129 fix: add missing `region` input on the backups storage config page
  frontend/src/views/omni/Settings/BackupStorage.vue
Labels: status/ok-to-test, status/ok-to-merge

#130 refactor: disable K8s stats for clusters with > 50 nodes
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/pkg/omni/resources/omni/machine_status_metrics.go
  client/pkg/omni/resources/omni/omni.go
  cmd/integration-test/pkg/tests/auth.go
  frontend/src/api/omni/specs/omni.pb.ts
  frontend/src/api/resources.ts
  frontend/src/views/cluster/ClusterMachines/MachineSet.vue
  frontend/src/views/cluster/Overview/components/OverviewContent.vue
  frontend/src/views/omni/Overview/Overview.vue
  internal/backend/runtime/omni/controllers/omni/machine_status_metrics.go
  internal/backend/runtime/omni/state_access.go
Labels: status/ok-to-test, status/ok-to-merge

#91 chore: support WG over GRPC in Omni
  client/api/omni/specs/siderolink.pb.go
  client/api/omni/specs/siderolink.proto
  client/api/omni/specs/siderolink_vtproto.pb.go
  go.mod
  go.sum
  hack/compose/docker-compose.yml
  internal/pkg/siderolink/manager.go
  internal/pkg/siderolink/siderolink_test.go
  internal/pkg/siderolink/wireguard.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-short

#132 fix: ignore not existing cluster in `MachineSet` teardown flow
  internal/backend/runtime/omni/controllers/omni/internal/machineset/control_planes_handler_test.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/operations.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/operations_test.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/reconciliation_context.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/reconciliation_context_test.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/status_handler_test.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/workers_handler_test.go
Labels: status/ok-to-test, status/ok-to-merge

#126 chore: support Auth0 client playing nicely with other OAuth2/OIDC pro…
  client/api/omni/specs/auth.pb.go
  client/api/omni/specs/auth.proto
  client/api/omni/specs/auth_vtproto.pb.go
  cmd/omni/main.go
  frontend/src/api/omni/specs/auth.pb.ts
  frontend/src/main.ts
  internal/pkg/auth/config.go
  internal/pkg/config/auth.go
Labels: status/ok-to-test, status/ok-to-merge

#124 feat: don't allow downgrades of the machines when adding to a cluster
  frontend/package.json
  frontend/src/views/cluster/Config/Patches.vue
  frontend/src/views/omni/Clusters/Management/ClusterCreate.vue
  frontend/src/views/omni/Clusters/Management/ClusterMachineItem.vue
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node_test.go
  internal/backend/runtime/omni/state_validation.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#138 release(v0.33.0-beta.0): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#146 test: fix assertion in maintenance config patch test
  internal/backend/runtime/omni/controllers/omni/maintenance_config_patch_test.go
Labels: status/ok-to-test, status/ok-to-merge

#147 feat: support generating installation media with overlays for Talos 1.7+
  client/api/omni/management/management.pb.go
  client/api/omni/management/management.proto
  client/api/omni/management/management_vtproto.pb.go
  client/api/omni/specs/installation_media.go
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/go.mod
  client/go.sum
  client/pkg/omnictl/download.go
  client/pkg/schematics/schematics.go
  cmd/integration-test/pkg/tests/image.go
  frontend/src/api/omni/management/management.pb.ts
  frontend/src/api/omni/specs/omni.pb.ts
  frontend/src/api/omni/specs/siderolink.pb.ts
  frontend/src/views/omni/Modals/DownloadInstallationMedia.vue
  go.mod
  go.sum
  internal/backend/factory/factory.go
  internal/backend/factory/factory_test.go
  internal/backend/grpc/export_test.go
  internal/backend/grpc/grpc_test.go
  internal/backend/grpc/schematics.go
  internal/backend/grpc/schematics_test.go
  internal/backend/runtime/omni/controllers/omni/installation_media.go
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-short

#149 fix: always delete removed nodes from discovery service
  cmd/omni/main.go
  go.mod
  go.sum
  internal/backend/discovery/client.go
  internal/backend/discovery/discovery.go
  internal/backend/grpc/grpc_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_teardown.go
  internal/backend/runtime/omni/omni.go
  internal/backend/runtime/omni/omni_test.go
Labels: status/ok-to-test, status/ok-to-merge

#151 fix: skip empty config patches in `ClusterMachineConfigPatches`
  internal/backend/runtime/omni/controllers/omni/internal/machineset/operations.go
  internal/backend/runtime/omni/controllers/omni/maintenance_config_patch.go
  internal/backend/runtime/omni/migration/manager.go
  internal/backend/runtime/omni/migration/migration_test.go
  internal/backend/runtime/omni/migration/migrations.go
Labels: status/ok-to-test, status/ok-to-merge

#153 release(v0.33.1): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#155 fix: properly select schematics for machine set and machine levels
  internal/backend/runtime/omni/controllers/omni/export_test.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#157 fix: properly select schematics for machine set and machine levels
  internal/backend/runtime/omni/controllers/omni/export_test.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#158 release(v0.33.2): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge

#159 chore: rekres & fix linting errors
  .github/workflows/ci.yaml
  .github/workflows/e2e-backups-cron.yaml
  .github/workflows/e2e-scaling-cron.yaml
  .github/workflows/e2e-short-cron.yaml
  .github/workflows/e2e-templates-cron.yaml
  .github/workflows/e2e-upgrades-cron.yaml
  .golangci.yml
  Dockerfile
  Makefile
  client/.golangci.yml
  client/pkg/omnictl/config/config.go
  client/pkg/template/operations/export.go
  client/pkg/template/operations/status.go
  cmd/integration-test/pkg/tests/cluster.go
  cmd/integration-test/pkg/tests/config_patch.go
  cmd/integration-test/pkg/tests/talos.go
  cmd/integration-test/pkg/tests/tests.go
  internal/backend/resourcelogger/resourcelogger_test.go
  internal/backend/runtime/omni/controllers/omni/internal/etcdbackup/crypt/encrypt_test.go
  internal/backend/runtime/omni/controllers/omni/internal/kubernetes/kubernetes_test.go
  internal/backend/runtime/omni/controllers/omni/kubernetes_status.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node_test.go
  internal/backend/runtime/omni/controllers/omni/machine_set_status_test.go
  internal/backend/runtime/omni/controllers/omni/machine_status.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status_test.go
  internal/backend/runtime/omni/controllers/omni/versions_test.go
  internal/backend/runtime/omni/external/state.go
  internal/backend/runtime/omni/external/state_test.go
  internal/backend/runtime/omni/pkg/check/etcd_test.go
  internal/backend/runtime/omni/state_etcd_election.go
  internal/backend/runtime/proxy_runtime_test.go
  internal/frontend/frontend.go
Labels: status/ok-to-test, status/ok-to-merge

#150 feat: implement kubernetes node audit controller
  .github/workflows/ci.yaml
  .github/workflows/e2e-scaling-cron.yaml
  .kres.yaml
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/pkg/omni/resources/omni/cluster_kubernetes_nodes.go
  client/pkg/omni/resources/omni/kubernetes_node_audit_result.go
  client/pkg/omni/resources/omni/omni.go
  cmd/integration-test/pkg/tests/auth.go
  cmd/integration-test/pkg/tests/kubernetes_node_audit.go
  cmd/integration-test/pkg/tests/tests.go
  frontend/src/api/omni/specs/omni.pb.ts
  internal/backend/runtime/omni/controllers/omni/cluster_kubernetes_nodes.go
  internal/backend/runtime/omni/controllers/omni/cluster_kubernetes_nodes_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_teardown.go
  internal/backend/runtime/omni/controllers/omni/kubernetes_node_audit.go
  internal/backend/runtime/omni/controllers/omni/kubernetes_node_audit_test.go
  internal/backend/runtime/omni/controllers/omni/omni.go
  internal/backend/runtime/omni/omni.go
  internal/backend/runtime/omni/state_access.go
  internal/frontend/frontend.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#163 fix: use correct labels struct in the download installation media cmd
  client/pkg/omnictl/config/config.go
  client/pkg/omnictl/download.go
  client/pkg/omnictl/internal/access/client.go
  client/pkg/schematics/schematics.go
  cmd/integration-test/pkg/tests/cli.go
  cmd/integration-test/pkg/tests/tests.go
  cmd/integration-test/root.go
  hack/test/integration.sh
  internal/backend/grpc/schematics.go
  internal/backend/grpc/schematics_test.go
Labels: status/ok-to-test, status/ok-to-merge

#162 chore: use sops for secrets
  .github/workflows/ci.yaml
  .github/workflows/e2e-backups-cron.yaml
  .github/workflows/e2e-scaling-cron.yaml
  .github/workflows/e2e-short-cron.yaml
  .github/workflows/e2e-templates-cron.yaml
  .github/workflows/e2e-upgrades-cron.yaml
  .kres.yaml
  .secrets.yaml
  .sops.yaml
  Dockerfile
  Makefile
  internal/frontend/frontend.go
Labels: status/ok-to-test, status/ok-to-merge

#164 feat: generate overlay info by extracting board kernel args
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/installation_media.go
  internal/backend/runtime/omni/controllers/omni/internal/boards/boards.go
  internal/backend/runtime/omni/controllers/omni/internal/task/machine/poll.go
Labels: status/ok-to-test, status/ok-to-merge

#165 fix: implement the correct upgrade flow from 1.6.x to 1.7.x for SBC
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  frontend/src/api/omni/specs/omni.pb.ts
  internal/backend/runtime/omni/controllers/omni/machine_status.go
  internal/backend/runtime/omni/controllers/omni/machine_status_test.go
  internal/backend/runtime/omni/controllers/omni/schematic_configuration.go
  internal/backend/runtime/omni/controllers/omni/schematic_configuration_test.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status.go
  internal/backend/runtime/omni/controllers/omni/talos_upgrade_status_test.go
Labels: status/ok-to-test, status/ok-to-merge

#166 test: get rid of upgrade test flakiness, fix cli tests
  cmd/integration-test/pkg/tests/cli.go
  cmd/integration-test/pkg/tests/talos.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_test.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-upgrades, integration/e2e-short

#167 release(v0.34.0-beta.0): prepare release
  CHANGELOG.md
  hack/release.toml
  internal/version/data/tag
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#170 fix: paginate nodes list page
  client/pkg/omni/resources/omni/cluster_machine_status.go
  frontend/src/components/common/List/TList.vue
  frontend/src/views/cluster/Nodes/NodesList.vue
Labels: status/ok-to-test, status/ok-to-merge

#176 fix: allow adding machines to Omni at higher speed
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/machine_extensions_test.go
  internal/pkg/siderolink/manager.go
  internal/pkg/siderolink/wireguard.go
Labels: status/ok-to-test, status/ok-to-merge

#181 fix: make cluster machine install disk selector pick correct disk
  frontend/src/views/omni/Clusters/Management/ClusterMachineItem.vue
Labels: status/ok-to-test, status/ok-to-merge

#184 fix: remove MachineSetNodes after links removal
  internal/backend/runtime/omni/controllers/omni/machine_set_node.go
  internal/backend/runtime/omni/controllers/omni/machine_set_node_test.go
Labels: status/ok-to-test, status/ok-to-merge

#182 fix: start watch before delete in `omnictl delete`
  client/pkg/omnictl/delete.go
  hack/generate-certs/main.go
Labels: status/ok-to-test, status/ok-to-merge

#185 test: fix flaky test by longer k8s node checks and retries
  cmd/integration-test/pkg/tests/blocks.go
  cmd/integration-test/pkg/tests/kubernetes.go
  hack/generate-certs/main.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-scaling

#172 test: use Talos nodes with partial config in integration tests
  hack/test/freeze-a-vm.sh
  hack/test/integration.sh
  hack/test/restart-a-vm.sh
  hack/test/wipe-a-vm.sh
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#188 fix: drop outdated `SchematicConfigurationController` finalizer
  internal/backend/runtime/omni/controllers/omni/schematic_configuration.go
  internal/backend/runtime/omni/migration/manager.go
  internal/backend/runtime/omni/migration/migration_test.go
  internal/backend/runtime/omni/migration/migrations.go
Labels: status/ok-to-test, status/ok-to-merge
