Repository siderolabs/omni, pull requests merged in 2025-03, with the labels that each got.

#982 fix: exclude `metal-agent` extension from available extensions
  go.mod
  internal/backend/extensions/extensions.go
  internal/backend/runtime/omni/controllers/omni/internal/talos/schematic.go
  internal/backend/runtime/omni/controllers/omni/talos_extensions.go
  internal/backend/runtime/omni/controllers/omni/talos_extensions_test.go
Labels: status/ok-to-test, status/ok-to-merge

#974 fix: properly support the PXE and ISO machines in the secure tokens flow
  client/api/google/rpc/status.proto
  client/api/omni/specs/infra.pb.go
  client/api/omni/specs/infra.proto
  client/api/omni/specs/infra_vtproto.pb.go
  client/api/omni/specs/siderolink.pb.go
  client/api/omni/specs/siderolink.proto
  client/api/omni/specs/siderolink_vtproto.pb.go
  client/pkg/jointoken/unique_token.go
  client/pkg/omni/resources/siderolink/annotations.go
  frontend/src/api/google/rpc/code.proto
  frontend/src/api/google/rpc/status.proto
  frontend/src/api/omni/specs/infra.pb.ts
  frontend/src/api/omni/specs/siderolink.pb.ts
  internal/backend/runtime/omni/controllers/helpers/helpers.go
  internal/backend/runtime/omni/controllers/helpers/helpers_test.go
  internal/backend/runtime/omni/controllers/omni/infra_machine.go
  internal/backend/runtime/omni/controllers/omni/infra_machine_test.go
  internal/backend/runtime/omni/controllers/omni/machine_teardown.go
  internal/backend/runtime/omni/controllers/omni/pending_machine_status.go
  internal/backend/runtime/omni/controllers/omni/pending_machine_status_test.go
  internal/pkg/siderolink/provision.go
  internal/pkg/siderolink/provision_test.go
  internal/pkg/siderolink/siderolink_test.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e

#985 chore: migrate ConfigPatches above threshold of 2048
  client/api/omni/specs/cluster_machine_config.go
  client/api/omni/specs/cluster_machine_config_patches.go
  client/api/omni/specs/compression.go
  client/api/omni/specs/config_patch.go
  client/api/omni/specs/redacted_cluster_machine_config.go
  client/pkg/compression/compression.go
  client/pkg/compression/compression_test.go
  client/pkg/constants/constants.go
  internal/backend/runtime/omni/controllers/omni/infra_provider_config_patch_test.go
  internal/backend/runtime/omni/controllers/omni/internal/machineset/operations.go
  internal/backend/runtime/omni/migration/migration_test.go
  internal/backend/runtime/omni/migration/migrations.go
Labels: status/ok-to-test, status/ok-to-merge

#990 fix: remove force unique token annotation from the link on wipe
  internal/pkg/siderolink/provision.go
Labels: status/ok-to-test, status/ok-to-merge

#994 perf: move etcd backup status resources into secondary storage
  client/pkg/omni/resources/omni/etcd_backup_overall_status.go
  client/pkg/omni/resources/omni/etcd_backup_status.go
  frontend/src/methods/index.ts
  frontend/src/views/cluster/Backups/BackupsList.vue
  frontend/src/views/cluster/Overview/components/OverviewRightPanel/OverviewRightPanel.vue
  frontend/src/views/omni/Settings/BackupStorage.vue
  internal/backend/runtime/omni/external/state_test.go
  internal/backend/runtime/omni/migration/manager.go
  internal/backend/runtime/omni/migration/migration_test.go
  internal/backend/runtime/omni/migration/migrations.go
Labels: status/ok-to-test, status/ok-to-merge

#989 feat: add support for setting throughput for uploads and downloads
  cmd/omni/cmd/cmd.go
  internal/backend/runtime/omni/controllers/omni/cluster_bootstrap_status_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_test.go
  internal/backend/runtime/omni/controllers/omni/etcdbackup/store/disabledstore.go
  internal/backend/runtime/omni/controllers/omni/etcdbackup/store/filestore.go
  internal/backend/runtime/omni/controllers/omni/etcdbackup/store/metrics.go
  internal/backend/runtime/omni/controllers/omni/etcdbackup/store/s3store.go
  internal/backend/runtime/omni/controllers/omni/etcdbackup/store/store.go
  internal/backend/runtime/omni/controllers/omni/internal/etcdbackup/s3store/export_test.go
  internal/backend/runtime/omni/controllers/omni/internal/etcdbackup/s3store/s3store.go
  internal/backend/runtime/omni/controllers/omni/internal/etcdbackup/s3store/s3store_test.go
  internal/backend/runtime/omni/controllers/omni/secrets_test.go
  internal/backend/runtime/omni/omni.go
  internal/backend/runtime/omni/state_validation_test.go
  internal/pkg/config/config.go
Labels: status/ok-to-test, status/ok-to-merge

#996 chore: rekres to enable separate cache
  .kres.yaml
  Dockerfile
  Makefile
Labels: status/ok-to-test, status/ok-to-merge

#997 feat: validate incoming packets addresses in siderolink manager
  go.mod
  go.sum
  internal/pkg/siderolink/manager.go
Labels: status/ok-to-test, status/ok-to-merge

#998 chore: rework `EtcdBackupControllerSuite` to use synctest experiment
  Dockerfile
  Makefile
  go.mod
  internal/backend/runtime/kubernetes/kubernetes.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_test.go
  internal/backend/runtime/omni/controllers/omni/omni_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1001 feat: cleanup orphan config patches
  .kres.yaml
  Makefile
  hack/compose/docker-compose.yml
  internal/backend/runtime/omni/controllers/omni/config_patch_cleanup.go
  internal/backend/runtime/omni/controllers/omni/config_patch_cleanup_test.go
  internal/backend/runtime/omni/omni.go
Labels: status/ok-to-test, status/ok-to-merge

#1006 chore: update all used icons
  frontend/src/components/common/Icon/TIcon.vue
  frontend/src/components/icons/IconActionVertical.vue
  frontend/src/components/icons/IconArrowDown.vue
  frontend/src/components/icons/IconArrowRightSquare.vue
  frontend/src/components/icons/IconBox.vue
  frontend/src/components/icons/IconCheck.vue
  frontend/src/components/icons/IconCheckInCircle.vue
  frontend/src/components/icons/IconCheckInCircleClassic.vue
  frontend/src/components/icons/IconClose.vue
  frontend/src/components/icons/IconCloudConnection.vue
  frontend/src/components/icons/IconClusters.vue
  frontend/src/components/icons/IconCopy.vue
  frontend/src/components/icons/IconDashboard.vue
  frontend/src/components/icons/IconDelete.vue
  frontend/src/components/icons/IconDot.vue
  frontend/src/components/icons/IconDropdown.vue
  frontend/src/components/icons/IconEdit.vue
  frontend/src/components/icons/IconError.vue
  frontend/src/components/icons/IconHome.vue
  frontend/src/components/icons/IconInfo.vue
  frontend/src/components/icons/IconKey.vue
  frontend/src/components/icons/IconKubeConfig.vue
  frontend/src/components/icons/IconKubernetes.vue
  frontend/src/components/icons/IconLoading.vue
  frontend/src/components/icons/IconLog.vue
  frontend/src/components/icons/IconLongArrowDown.vue
  frontend/src/components/icons/IconLongArrowTop.vue
  frontend/src/components/icons/IconMachinesAutoprovisioned.vue
  frontend/src/components/icons/IconMachinesManual.vue
  frontend/src/components/icons/IconMinus.vue
  frontend/src/components/icons/IconNodes.vue
  frontend/src/components/icons/IconOverview.vue
  frontend/src/components/icons/IconPlus.vue
  frontend/src/components/icons/IconPodes.vue
  frontend/src/components/icons/IconPods.vue
  frontend/src/components/icons/IconQuestion.vue
  frontend/src/components/icons/IconReboot.vue
  frontend/src/components/icons/IconRefresh.vue
  frontend/src/components/icons/IconReset.vue
  frontend/src/components/icons/IconRollback.vue
  frontend/src/components/icons/IconSearch.vue
  frontend/src/components/icons/IconSettings.vue
  frontend/src/components/icons/IconSettingsToggle.vue
  frontend/src/components/icons/IconTalosConfig.vue
  frontend/src/components/icons/IconTime.vue
  frontend/src/components/icons/IconUnknown.vue
  frontend/src/components/icons/IconUpgradeEmptyState.vue
  frontend/src/components/icons/IconWaiting.vue
  frontend/src/components/icons/IconWarning.vue
  frontend/src/views/cluster/SideBar.vue
Labels: status/ok-to-test, status/ok-to-merge

#1007 fix: do not clip the tooltip in the cluster machine status
  frontend/src/views/cluster/ClusterMachines/ClusterMachine.vue
  frontend/src/views/cluster/ClusterMachines/ClusterMachinePhase.vue
  frontend/src/views/cluster/ClusterMachines/MachineSetPhase.vue
  internal/e2e-tests/main_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1011 fix: some updated icons were appearing as white
  frontend/src/components/icons/IconClusters.vue
  frontend/src/components/icons/IconCopy.vue
  frontend/src/components/icons/IconDashboard.vue
  frontend/src/components/icons/IconDelete.vue
  frontend/src/components/icons/IconHome.vue
  frontend/src/components/icons/IconInfo.vue
  frontend/src/components/icons/IconKey.vue
  frontend/src/components/icons/IconLoading.vue
  frontend/src/components/icons/IconLog.vue
  frontend/src/components/icons/IconLongArrowDown.vue
  frontend/src/components/icons/IconLongArrowTop.vue
  frontend/src/components/icons/IconMinus.vue
  frontend/src/components/icons/IconNodes.vue
  frontend/src/components/icons/IconOverview.vue
  frontend/src/components/icons/IconPlus.vue
  frontend/src/components/icons/IconPods.vue
  frontend/src/components/icons/IconQuestion.vue
  frontend/src/components/icons/IconReboot.vue
  frontend/src/components/icons/IconRefresh.vue
  frontend/src/components/icons/IconReset.vue
  frontend/src/components/icons/IconRollback.vue
  frontend/src/components/icons/IconSearch.vue
  frontend/src/components/icons/IconSettings.vue
  frontend/src/components/icons/IconSettingsToggle.vue
  frontend/src/components/icons/IconTalosConfig.vue
  frontend/src/components/icons/IconUpgrade.vue
  frontend/src/components/icons/IconUpgradeAvailable.vue
  frontend/src/components/icons/IconWarning.vue
Labels: status/ok-to-test, status/ok-to-merge

#1012 fix: do not switch Siderolink GRPC tunnel mode after provisioning
  client/pkg/omni/resources/siderolink/connection_params.go
  cmd/omni/cmd/cmd.go
  internal/backend/runtime/omni/controllers/omni/cluster_machine_config.go
  internal/pkg/siderolink/manager.go
  internal/pkg/siderolink/provision.go
  internal/pkg/siderolink/provision_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1013 test: fix the timing related flake in resource logger test
  internal/backend/resourcelogger/resourcelogger_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1016 chore: add GOEXPERIMENT env to vscode config
  .vscode/settings.json
Labels: status/ok-to-merge

#1024 fix: update text and description for SideroLink over GRPC
  client/pkg/omnictl/download.go
  frontend/src/views/omni/Modals/DownloadInstallationMedia.vue
Labels: status/ok-to-test, status/ok-to-merge

#1000 fix: duplicate resources declaration in helm deployment
  deploy/helm/omni/Chart.yaml
  deploy/helm/omni/templates/deployment.yaml
  deploy/helm/omni/values.yaml
Labels: status/ok-to-merge

#1009 fix: do not select USB sticks by default
  client/api/common/omni.pb.go
  client/api/omni/management/management.pb.go
  client/api/omni/oidc/oidc.pb.go
  client/api/omni/resources/resources.pb.go
  client/api/omni/specs/auth.pb.go
  client/api/omni/specs/ephemeral.pb.go
  client/api/omni/specs/infra.pb.go
  client/api/omni/specs/oidc.pb.go
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/api/omni/specs/siderolink.pb.go
  client/api/omni/specs/system.pb.go
  client/api/omni/specs/virtual.pb.go
  client/go.mod
  client/go.sum
  frontend/src/api/omni/specs/omni.pb.ts
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/internal/task/machine/machine.go
  internal/backend/runtime/omni/controllers/omni/internal/task/machine/poll.go
  internal/backend/runtime/omni/controllers/omni/machine_config_gen_options.go
  internal/backend/runtime/omni/controllers/omni/machine_config_gen_options_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1029 fix: do not allow `http[s]` urls in the redirect query
  frontend/src/api/resources.ts
  frontend/src/components/icons/IconMachinesAutoprovisioned.vue
  frontend/src/router/index.ts
  frontend/src/views/common/BadRequest.vue
  frontend/src/views/omni/Auth/Authenticate.vue
  internal/backend/server.go
  internal/backend/workloadproxy/handler.go
  internal/backend/workloadproxy/handler_test.go
  internal/backend/workloadproxy/redirect_handler.go
  internal/backend/workloadproxy/redirect_url.go
  internal/backend/workloadproxy/redirect_url_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1030 feat: allow setting exposed service prefixes explicitly
  client/api/omni/specs/omni.pb.go
  client/api/omni/specs/omni.proto
  client/api/omni/specs/omni_vtproto.pb.go
  client/pkg/omni/resources/omni/exposed_service.go
  client/pkg/omni/resources/omni/labels.go
  frontend/src/api/omni/specs/omni.pb.ts
  frontend/src/api/resources.ts
  internal/backend/grpc/configs_test.go
  internal/backend/runtime/omni/controllers/omni/cluster_workload_proxy.go
  internal/backend/runtime/omni/controllers/omni/internal/exposedservice/exposedservice.go
  internal/backend/runtime/omni/controllers/omni/internal/exposedservice/exposedservice_test.go
  internal/backend/runtime/omni/controllers/omni/internal/exposedservice/reconciler.go
  internal/backend/runtime/omni/controllers/omni/kubernetes_status.go
Labels: status/ok-to-test, status/ok-to-merge

#1031 fix: add more strict security headers to the web page handler
  frontend/package.json
  frontend/src/components/common/CodeEditor/CodeEditor.vue
  frontend/src/main.ts
  frontend/src/methods/logs.ts
  frontend/src/views/cluster/Nodes/NodeLogs.vue
  frontend/vite.config.ts
  internal/frontend/handler.go
Labels: status/ok-to-test, status/ok-to-merge

#1032 chore: bump default Talos version to 1.9.5, Kubernetes version to 1.32.3
  client/pkg/constants/constants.go
  frontend/src/api/resources.ts
  hack/test/integration.sh
  internal/pkg/constants/versions.go
Labels: status/ok-to-test, status/ok-to-merge

#1034 chore: update dependencies
  client/go.mod
  client/go.sum
  frontend/package.json
  frontend/src/methods/key.ts
  frontend/src/methods/user.ts
  frontend/src/views/cluster/Overview/components/OverviewCircleChart/OverviewCircleChart.vue
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/internal/machineset/operations_test.go
  internal/backend/runtime/omni/controllers/omni/reporting.go
  internal/backend/runtime/omni/controllers/omni/reporting_test.go
  internal/backend/runtime/omni/state_validation.go
Labels: status/ok-to-test, status/ok-to-merge

#1036 fix: show warning instead of error for etcd quorum being at min
  frontend/src/components/common/TInput/TInput.vue
  frontend/src/views/cluster/Overview/components/OverviewRightPanel/OverviewRightPanelCondition.vue
  internal/backend/runtime/omni/pkg/check/etcd.go
Labels: status/ok-to-test, status/ok-to-merge

#1038 fix: correctly parse commas in label selectors
  client/pkg/cosi/labels/labels_test.go
  client/pkg/cosi/labels/lexer.go
  frontend/src/methods/labels.ts
  frontend/src/views/omni/MachineClasses/MachineClass.vue
Labels: status/ok-to-test, status/ok-to-merge

#1039 fix: use clearer description on the machines page metrics
  frontend/src/views/omni/Machines/Machines.vue
Labels: status/ok-to-test, status/ok-to-merge

#1040 fix: ignore 404 errors when removing disconnected links of a cluster
  frontend/src/views/omni/Modals/ClusterDestroy.vue
Labels: status/ok-to-test, status/ok-to-merge

#1041 feat: support filtering clusters by readiness
  client/pkg/omni/resources/omni/cluster_status.go
  frontend/src/components/common/List/TList.vue
  frontend/src/views/omni/Clusters/Clusters.vue
Labels: status/ok-to-test, status/ok-to-merge

#1042 chore: add support for jitter in `EtcdBackupController`
  DEVELOPMENT.md
  cmd/omni/cmd/cmd.go
  go.mod
  go.sum
  internal/backend/runtime/omni/controllers/omni/etcd_backup.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_mock_1_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_mock_2_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_mock_3_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_test.go
  internal/backend/runtime/omni/omni.go
  internal/pkg/config/config.go
  internal/pkg/xmocks/xmocks.go
Labels: status/ok-to-test, status/ok-to-merge, integration/e2e-backups

#1046 fix: check proper jittered time in unit tests
  .kres.yaml
  Dockerfile
  Makefile
  internal/backend/runtime/omni/controllers/omni/etcd_backup_mock_1_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_mock_2_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_mock_3_test.go
  internal/backend/runtime/omni/controllers/omni/etcd_backup_test.go
Labels: status/ok-to-test, status/ok-to-merge

#1047 chore: rekres, bump Go, regenerate, fix docker-compose targets
  .kres.yaml
  Makefile
  client/go.mod
  go.mod
  go.work
  hack/compose/docker-compose.yml
  hack/zstd-dict/go.mod
Labels: status/ok-to-test, status/ok-to-merge
